* {
	outline: none;
}

body {
	width: 100vw;
	height: 100vh;
}

.ui {
	width: 100%;
}

.nistable {
	margin-top: 5px;
}

.menu th {
	width: 50%;
}

.menu button {
	width: 100%;
	margin: 5px 0 5px 0;
}

.nisbutton {
	border-color: transparent;
}

.timer {
	text-align: center;
	font-size: 1.8em;
}

.timer small {
	font-size: 0.6em;
	color: lightcoral;
	font-weight: bold;
	text-shadow: 0 0 0.5em grey;
}

.miliseconds {
	font-size: 0.7em;
}

.splits-head {
	font-size: 1.1em;
	text-align: center;
}

.splits td {
	text-align: center;
}

.splits-head th {
	position: sticky;
	top: 0;
	padding-bottom: 8px;
	padding-top: 6px;
	/*background-image: url(https://runeapps.org/nis/alt1-currentskin/background.png);*/
	background-color: rgba(23, 30, 36, 0.8);
	backdrop-filter: blur(0.07em);
}

.second {
	height: calc(100vh - 92px);
	overflow-y: scroll;
}

.splits-head th:first-child {
	width: 11vw;
}

.splits-head th:nth-child(2) {
	width: 35vw;
}
